@model Ampbi.DataAccess.ViewModel.DashBoard
@using System.Web.UI.WebControls

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mart20">
    <div class="col-md-12" style="max-height:546px; overflow-y:auto;">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Organization">


                @foreach (var item in Model.getTeamComp)
                {

                    if (item.cardcolor == "BLUE")
                    { 
                                 
                    <div class="col-md-3 padlr5" style="margin-bottom: 10px;">
                        <div class="main-box-emp box-blue">
                            <div class="clearfix box-blue-heading">
                                <h5 class="pull-left"><strong>@item.Metricname</strong></h5>
                                <p class="pull-right anchor-icon"><a href="#"><i class="glyphicon glyphicon-modal-window" aria-hidden="true"></i></a></p>
                                <ul class="average">
                                    <li>
                                       <div class="color-persent-sky" style="@item.Me%; position:relative; text-align:center;"><span class="text-left">Me</span></div>
                                   <span class="text-count">@item.Youraveragevalue</span>
                                         </li>
                                    <li>
                                      <div class="color-persent-sky" style="width: @item.TeamAverage + %; position:relative; text-align:center;">@item.Teamaveragevalue<span class="text-left-avg">Average</span></div>
                                    </li>
                                    <li>
                                     <div class="color-persent-sky" style="width: @item.TeamBest + %; position:relative; text-align:center;">@item.Bestinteamaveragevalue <span class="text-left-best">Best</span></div>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                    
                    }

                    if (item.cardcolor == "GREEN")
                    {
                    <div class="col-md-3 padlr5" style="margin-bottom: 10px;">
                        <div class="main-box-emp box-sky">
                            <div class="clearfix box-sky-heading">
                                <h5 class="pull-left"><strong>@item.Metricname</strong></h5>
                                <p class="pull-right anchor-icon"><a href="#"><i class="glyphicon glyphicon-modal-window" aria-hidden="true"></i></a></p>
                                <ul class="average">
                                    <li>
                                        <div class="color-persent-sky" style="width: @item.Me%; position:relative; text-align:center;"><span class="text-left">Me</span></div>
                                    <span class="text-count">@item.Youraveragevalue</span>
                                         </li>
                                    <li>
                                       <div class="color-persent-sky" style="width: @item.TeamAverage%; position:relative; text-align:center;"><span class="text-left-avg">Average</span></div>
                                    <span class="text-count">@item.Teamaveragevalue</span>
                                    </li>
                                    <li>
                                      <div class="color-persent-sky" style="width: @item.TeamBest%; position:relative; text-align:center;"><span class="text-left-best">Best</span></div>
                                       <span class="text-count">@item.Bestinteamaveragevalue </span> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                                    
                    }

                    if (item.cardcolor == "YELLOW")
                    {
                    <div class="col-md-3 padlr5" style="margin-bottom: 10px;">
                        <div class="main-box-emp box-yellow">
                            <div class="clearfix box-yellow-heading">
                                <h5 class="pull-left"><strong>@item.Metricname</strong></h5>
                                <p class="pull-right anchor-icon"><a href="#"><i class="glyphicon glyphicon-modal-window" aria-hidden="true"></i></a></p>
                                <ul class="average">
                                    <li>
                                        <div class="color-persent-yellow" style="@item.Me%; position:relative; text-align:center;"> <span class="text-left">Me</span></div>
                                      <span class="text-count">@item.Youraveragevalue </span> 
                                         </li>  
                                    <li>
                                        <div class="color-persent-yellow" style="width: @item.TeamAverage%; position:relative; text-align:center;"><span class="text-left-avg">Average</span></div>
                                        <span class="text-count">@item.Teamaveragevalue</span> 
                                         </li> 
                                    <li>
                                        <div class="color-persent-yellow" style="width: @item.TeamBest%; position:relative; text-align:center;"><span class="text-left-best">Best</span></div>
                                        <span class="text-count">@item.Bestinteamaveragevalue </span> 
                                    </li>                                     
                                </ul>
                            </div>
                        </div>
                    </div>
                                    
                    }

                    if (item.cardcolor == "RED" || item.cardcolor == "PINK")
                    {
                    <div class="col-md-3 padlr5" style="margin-bottom: 10px;">
                        <div class="main-box-emp box-pink">
                            <div class="clearfix box-pink-heading">
                                <h5 class="pull-left"><strong>@item.Metricname</strong></h5>
                                <p class="pull-right anchor-icon"><a href="#"><i class="glyphicon glyphicon-modal-window" aria-hidden="true"></i></a></p>
                                <ul class="average">
                                    <li>
                                        <div class="color-persent-pink" style="@item.Me%;  position:relative; text-align:center;"><span class="text-left">Me</span></div>
                                    <span class="text-count">@item.Youraveragevalue </span>     
                                    </li>                                    
                                    <li>
                                        <div class="color-persent-pink" style="width: @item.TeamAverage%;  position:relative; text-align:center;"><span class="text-left-avg">Average</span></div>
                                    <span class="text-count">@item.Teamaveragevalue </span>     
                                    </li> 
                                    <li>
                                        <div class="color-persent-pink" style="width: @item.TeamBest%;  position:relative; text-align:center;"><span class="text-left-best">Best</span></div>
                                       <span class="text-count">@item.Bestinteamaveragevalue</span> 
                                         </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    }

                }


            </div>
        </div>
    </div>
</div>

@if (Model.getTeamComp.Count == 0)
{
    <table id="tblNodata" style="width: 100%; position: absolute; margin-top: 14%;">
        <tbody>
            <tr>

                <td colspan="6" style="vertical-align: middle; text-align: center; font-size: medium;">
                    <br />
                    <span style="background-color: #396b9e; color: white; border-radius: 5px; padding: 6px; white-space: nowrap; font-size: 16px;">No Data</span>


                </td>
            </tr>
        </tbody>
    </table>

}
@if (Model.getTeamComp.Count != 0)
{

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mart20" id="tblCoaching">

        @*     -----------------------------------------Code for Grid-----------------------------------------*@


        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 mart20">
            <ul class="nav nav-tabs text-color" role="tablist">
                <li role="presentation" class="active"><a href="#Coaching" aria-controls="Coaching" role="tab" data-toggle="tab">Coaching History</a></li>
                <li role="presentation"><a href="#Training" aria-controls="Training" role="tab" data-toggle="tab">Training History</a></li>
                <li role="presentation"><a href="#Task" aria-controls="Task" role="tab" data-toggle="tab">Task</a></li>

            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="Coaching">
                    <div class="table-responsive">
                        <table width="100%" class="table table-bordered">
                            <tbody>
                                <tr class="blue-t">
                                    <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></th>
                                    <td align="center" valign="middle">Date </td>
                                    <td align="center" valign="middle">Matric(s)</td>
                                    <td align="center" valign="middle">Reason</td>
                                    <td align="center" valign="middle">Goal</td>
                                    <td align="center" valign="middle">Commitment</td>
                                    <td align="center" valign="middle">Actual</td>
                                    <td align="right"><i class="glyphicon glyphicon-volume-up" aria-hidden="true"></i></td>
                                </tr>
                                @foreach (var item in Model.getCoachingGrid)
                                {
                                    <tr class="red-tdt">
                                        <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></th>
                                        <td align="center" valign="middle">@item.coachingassigneddate</td>
                                        <td align="center" valign="middle">@item.KPIMetricName</td>
                                        <td align="center" valign="middle"@item.Reason></td>
                                        <td align="center" valign="middle">@item.Goal</td>
                                        <td align="center" valign="middle">@item.Commitment</td>
                                        <td align="center" valign="middle">@item.Actual</td>
                                        <td align="right"><i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i></td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Training">
                    <div class="table-responsive">
                        <table width="100%" class="table table-bordered">
                            <tbody>
                                <tr class="blue-t">
                                    <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></th>
                                    <td align="center" valign="middle">Targeted Completion Date </td>
                                    <td align="center" valign="middle">Date Assigned</td>
                                    <td align="center" valign="middle">Actual Completion Date</td>
                                    <td align="center" valign="middle">Article Name</td>
                                    <td align="center" valign="middle">Associated Metric</td>
                                    <td align="right"><i class="glyphicon glyphicon-volume-up" aria-hidden="true"></i></td>
                                </tr>

                                @foreach (var item in Model.getTrainingGrid)
                                {
                                    <tr class="red-tdt">
                                        <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></th>
                                        <td align="center" valign="middle">@item.TargetedCompletionDate</td>
                                        <td align="center" valign="middle">@item.CoachingAssignedDate</td>
                                        <td align="center" valign="middle">@item.ActualCompletionDate</td>
                                        <td align="center" valign="middle">@item.articlename</td>
                                        <td align="center" valign="middle">@item.AssociatedMetric</td>

                                        <td align="right"><i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i></td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Task">
                    <div class="table-responsive">
                        <table width="100%" class="table table-bordered">
                            <tbody>
                                <tr class="blue-t">
                                    <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></th>
                                    <td align="center" valign="middle">Date </td>
                                    <td align="center" valign="middle">Matric(s)</td>
                                    <td align="center" valign="middle">Reason</td>
                                    <td align="center" valign="middle">Goal</td>
                                    <td align="center" valign="middle">Commitment</td>
                                    <td align="center" valign="middle">Actual</td>
                                    <td align="right"><i class="glyphicon glyphicon-volume-up" aria-hidden="true"></i></td>
                                </tr>
                                <tr class="red-tdt">
                                    <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></th>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="right"><i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr class="red-tdt">
                                    <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></th>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="right"><i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i></td>
                                </tr>
                                <tr class="red-tdt">
                                    <th align="center" valign="middle" scope="row"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></th>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="center" valign="middle"></td>
                                    <td align="right"><i class="glyphicon glyphicon-play-circle" aria-hidden="true"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>



        @* @Html.Partial("_PartialEmpPerfGrid", Model)*@


    </div>

}
