@model Ampbi.DataAccess.ViewModel.UserSecrect

@{
    ViewBag.Title = "UserFirstTimeLogin";
    Layout = "~/Views/Shared/_LayoutFirstTimeLogin.cshtml";
}

@using (Html.BeginForm("UserFirstTimeLogin", "Account"))
{
    @Html.ValidationSummary()
    <form id="ftlogin" class="form-horizontal" action="exiting-user-login.html">
        <div class="content-body border-box">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">Email <span class="red">*</span></label>
                        <div class="col-md-8">
                            @*<input type="text" placeholder="Enter Password" class="form-control input-sm" name="password" required="required" value="pradipsharma1986@gmail.com">*@
                            @Html.TextBoxFor(u => u.userModel.Email, new {@class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">First Name <span class="red">*</span></label>
                        <div class="col-md-8">
                            @*<input type="text" placeholder="John" class="form-control input-sm" name="fname" required="required">*@
                            @Html.TextBoxFor(u => u.userModel.FirstName, new {@class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Last Name <span class="red">*</span></label>
                        <div class="col-md-8">
                            @*<input type="text" placeholder="Smith" class="form-control input-sm" name="lname" required="required">*@
                            @Html.TextBoxFor(u => u.userModel.LastName, new {@class = "form-control input-sm", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Password <span class="red">*</span></label>
                        <div class="col-md-8">
                            @* <input type="password" placeholder="Enter Password" class="form-control input-sm input-sm" name="password" required="required">*@
                            @Html.TextBoxFor(u => u.userModel.Password, new { @id = "userPassword", @class = "form-control input-sm input-sm", @placeholder = "Enter Password", @type = "password", @required="required" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Confirm Password <span class="red">*</span></label>
                        <div class="col-md-8">
                            @*<input type="password" placeholder="Confirm Password" class="form-control input-sm" name="cpassword" required="required">*@
                            @Html.TextBoxFor(u => u.userModel.Password, new { @id = "userPasswordConfirm", @class = "form-control input-sm", @placeholder = "Confirm Password", @type = "password" , @required="required" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Security Question 1 <span class="red">*</span></label>
                         @if (Model != null)
                         {
                             <div class="col-md-8">
                                 @*<select class="form-control input-sm" name="ques1">
                                <option>Select</option>
                                <option>What is your Nick Name?</option>
                            </select>*@
                                 @Html.DropDownListFor(m => m.userModel.SecretQuestion1, new SelectList(Model.lstAllSecQuest, "SecSeq", "SecretQuestion"), "Select", new { @id = "optionsA", @class = "form-control input-sm" })
                             </div>
                         }
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Security Answer 1 <span class="red">*</span></label>
                        <div class="col-md-8">
                            @*<input type="text" placeholder="Security Answer" class="form-control input-sm" name="ans1" required="required">*@
                            @Html.TextBoxFor(u => u.userModel.SecretAnswer1, new { @id = "userSecurityAns1", @class = "form-control input-sm", @placeholder = "Security Answer",@required="required" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Security Question 2 <span class="red">*</span></label>
                        @if (Model != null)
                        {
                            <div class="col-md-8">
                                @*<select class="form-control input-sm" name="ques2">
                                <option>Select</option>
                                <option>What is your Nick Name?</option>
                            </select>*@
                                @Html.DropDownListFor(m => m.userModel.SecretQuestion2, new SelectList(Model.lstAllSecQuest, "SecSeq", "SecretQuestion"), "Select", new { @id = "optionsB", @class = "form-control input-sm" })
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Security Answer 2 <span class="red">*</span></label>
                        <div class="col-md-8">
                            @*<input type="text" placeholder="Security Answer" class="form-control input-sm" name="ans1" required="required">*@
                            @Html.TextBoxFor(u => u.userModel.SecretAnswer2, new { @id = "userSecurityAns3", @class = "form-control input-sm", @placeholder = "Security Answer" })
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Security Question 3 <span class="red">*</span></label>
                        @if (Model != null)
                        {
                            <div class="col-md-8">
                                @*<select class="form-control input-sm" name="ques3">
                                <option>Select</option>
                                <option>What is your Nick Name?</option>
                            </select>*@
                            @Html.DropDownListFor(m => m.userModel.SecretQuestion3, new SelectList(Model.lstAllSecQuest, "SecSeq", "SecretQuestion"), "Select", new { @id = "optionsC", @class = "form-control input-sm" })
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Security Answer 3 <span class="red">*</span></label>
                        <div class="col-md-8">
                            @*<input type="text" placeholder="Security Answer" class="form-control input-sm" name="ans1" required="required">*@
                            @Html.TextBoxFor(u => u.userModel.SecretAnswer3, new { @id = "userSecurityAns3", @class = "form-control input-sm", @placeholder = "Security Answer", @required="required" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 page-footer-box clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-success input-sm">Submit</button>
                <button type="reset" class="btn btn-success input-sm">Cancel</button>
            </div>
        </div>
    </form>
}